<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Courthouse">
    <test name="Courthouse" parallel="false" preserve-order="true" verbose="2">
        <!-- Login's parameters: possible values: 'dev','preprod' and ''-->
        <parameter name="browser" value="Chrome"/>
        <parameter name="url" value="https://app.%sdrillinginfo.com/courthouse/"/>

        <!--Free Trial Subscription Page:-->
        <parameter name="freeTrialURL" value="https://app.%sdrillinginfo.com/courthouse/subscription/#/freetrial"/>

        <!--PayGo Subscription Page:-->
        <parameter name="payGoURL" value="https://app.%sdrillinginfo.com/courthouse/subscription/#/"/>

        <!--Environment /Dev/Preprod/Prod -->
        <parameter name="environment" value="dev."/>


        <parameter name="usernameToLogIn" value="diplus2"/>
        <parameter name="passwordToLogIn" value="drillin6"/>
        <!--Means if we can access the app using Contract/Free Trial or PayGo users accounts -->
        <parameter name="standAloneApp" value="false"/>

        <!-- Add Contractor-->
        <parameter name="lastName" value="Last Name Tester"/>
        <parameter name="firstName" value="First Name Tester"/>
        <parameter name="userName" value="newtester_%d"/>
		<parameter name="companyAcct" value="DI Internal Acct"/> <!--12691-->
		<parameter name="myCompany" value="Gap_Tester"/>
        <!-- No Access/Request Copy/Full Access -->
        <parameter name="runsheetSharingAccess" value="Full Acess"/>
        <parameter name="emailUserName" value="test_%d@wearegap.com"/>
        <parameter name="numberOfUserToCreate" value="1"/>
        <parameter name="setPreference" value="false"/>

        <!-- Add Free Trial -->
        <parameter name="firstNameFreeTrial" value="Free"/>
        <parameter name="lastNameFreeTrial" value="Trial"/>
        <parameter name="emailUserNameFreeTrial" value="rojasadrian06@gmail.com"/>
        <parameter name="phoneNumberFreeTrial" value="111-222-3333"/>
        <parameter name="organizationFreeTrial" value="Organization FreeTrial"/>
        <parameter name="userNameFreeTrial" value="newfreetrial_%d"/>
        <parameter name="numberOfUserFreeTrialToCreate" value="1"/>
        <!-- Below parameter must be changed for each a new free trial has been created
        get the password from the gmail account and paste it -->
        <parameter name="freeTrialPassword" value="As123456789"/>
        <parameter name="freeTrialCounty" value="Atascosa"/>
        <parameter name="freeTrialGrantor" value="James"/>
        <parameter name="totalSearches" value="3"/>
        <parameter name="runsheetNameFreeTrial" value="Automated_FT_RunSheet"/>

        <!-- Add Pay Go-->
        <parameter name="firstNamePayGo" value="Pay"/>
        <parameter name="lastNamePayGo" value="Go"/>
        <parameter name="emailUserNamePayGo" value="adrojas@wearegap.com"/>
        <parameter name="phoneNumberPayGo" value="111-222-3333"/>
        <parameter name="organizationPayGo" value="Organization PayGo"/>
        <parameter name="userNamePayGo" value="newpaygo_%d"/>
        <parameter name="address1" value="New Address"/>
        <parameter name="city" value="WPB"/>
        <parameter name="state" value="Florida"/>
        <parameter name="zipCode" value="33463"/>
        <parameter name="legalNameCC" value="New PayGo Automated Test User"/>
        <parameter name="creditCardNumber" value="378282246310005"/>
        <parameter name="cvv" value="1234"/>
        <parameter name="monthExpirationDate" value="10"/>
        <parameter name="yearExpirationDate" value="2020"/>
        <parameter name="numberOfUserPayGoToCreate" value="1"/>

        <!-- Below parameter must be changed for each a new pay go has been created
        get the password from the gmail account and paste it -->
        <parameter name="payGoPassword" value="As123456789"/>
        <parameter name="payGoCounty" value="Liberty"/>
        <parameter name="payGoGrantor" value="Smith"/>
        <parameter name="runsheetNamePayGo" value="Automated_PG_RunSheet"/>

        <!-- New Contractor Search -->
        <parameter name="contractorUserName" value="adrojascontract"/>
        <!--Preprod adrojascontract pwd
        <parameter name="contractorPassword" value="L2mwmlgE"/>-->
        <!--Dev adrojascontract pwd (DSCI7lsc1)-->
        <parameter name="contractorPassword" value="DSCI7lsc1"/>
        <parameter name="contractorCounty" value="Andrews Abstract Plant"/>
        <parameter name="contractorGrantor" value="James"/>
        <parameter name="runsheetName" value="Automated_RunSheetB"/>
        <parameter name="contractorName" value="Test Contract"/>
        <parameter name="myCompanyName" value="Gap"/>

        <!-- Validate Metrics: Prints and Downloads -->
        <parameter name="companyID" value="12691"/>
        <parameter name="county" value="Andrews Abstract Plant"/>
        <parameter name="totalDownloads" value="1.00"/>
        <parameter name="totalPrints" value="1.00"/>
        
        <!-- Validate Metrics: By User (Contract/Free Trial/PayGo -->
        <parameter name="totalAddedToRunsheet" value="3.00"/>
        <parameter name="totalDocumentsViewed" value="1.00"/>
        <parameter name="totalRemovedFromRunsheet" value="2.00"/>
        <parameter name="totalRenamedFromRunsheet" value="1.00"/>
        <parameter name="totalSearchesByCounty" value="4.00"/>
        <parameter name="totalSearchesByTypeExplorerPanel" value="4.00"/>

        <!-- Super User Credentials -->
        <parameter name="superUserName" value="diplus1"/>
        <parameter name="superUserPassword" value="diplus1"/>
        <parameter name="myCompanyRunsheetName" value="MyCompanyRunsheet"/>
        <parameter name="superUserCounty" value="Bandera"/>

        <!-- Standard User Credentials -->
        <parameter name="standardUserName" value="diplus8"/>
        <parameter name="standardUserPassword" value="diplus8"/>
        <parameter name="standardUserCounty" value="Grimes Abstract Plant"/>
        <parameter name="standardUserVolume" value="1438"/>
        <parameter name="standardUserPage" value="390"/>
        <parameter name="standardUserRecordNumber" value="00253448"/>
        <parameter name="totalSearchesByTypePriorReference" value="3.00"/>
        <parameter name="firstNameStandard" value="Di Plus"/>
        <parameter name="lastNameStandard" value="Test User Eight"/>

        <!-- Broker Box Info -->
        <parameter name="brokerBoxCounty" value="Cooke"/>
        <parameter name="brokerBoxBookType" value="abstract of judgment"/>
        <parameter name="brokerBoxIndexBook" value="0001"/>
        <parameter name="brokerBoxBookmarks" value="A"/>

        <parameter name="brokerBoxVolume" value="1"/>
        <parameter name="brokerBoxPage" value="265"/>
        <!-- Metrics by Contractor per Broker Box Search (Volume/Page)-->
        <parameter name="totalDownloadBrokerBox" value="2.00"/>
        <parameter name="totalSearchesByTypeBBIndexBook" value="1.00"/>
        <parameter name="totalSearchesByTypeBBVolumePage" value="1.00"/>

        <!-- Midland Maps Feature-->
        <parameter name="countyType" value="Midland maps"/>
        <parameter name="countyMidlandMaps" value="Andrews Midland Maps"/>

        <parameter name="searchMidlandMapsCountyName" value="Irion Midland Maps"/>
        <parameter name="multipleCountySearchMidlandMapsCountyName" value="Andrews Midland Maps,Crane Midland Maps,Eddy E. Midland Maps,Eddy W. Midland Maps,Glasscock Midland Maps,Howard Midland Maps,Irion Midland Maps,Loving Reeves N. Midland Maps,Midland Midland Maps,Reagan Midland Maps,Reeves C. Midland Maps,Reeves S. Midland Maps,Ward Midland Maps"/>
        <parameter name="searchMidlandMapsCountyYear" value="1959"/>
        <!-- Metrics by Contractor per Midland Maps Search (County/Year)-->
        <parameter name="totalDownloadMidlandMaps" value="2.00"/>
        <parameter name="totalSearchesByCountyMidlandMaps" value="2.00"/>

        <!-- Validate County on Demo Mode -->
        <parameter name="countyOnDemoMode" value="Burleson"/>

        <groups>
            <run>
                <include name="CH_Login_Load_CH_Main_Page"/>
                <include name="CH_Add_Contractor"/>
                <include name="CH_Add_FreeTrial"/>
                <include name="CH_Add_PayGo"/>
                <include name="CH_Contractor_Explorer_Search"/>
                <include name="CH_Contractor_Add_New_Runsheet"/>
                <include name="CH_Contractor_Del_Docs_From_Runsheet"/>
                <include name="CH_Contractor_Rename_Runsheet"/>
                <include name="CH_Contractor_Download_Runsheet"/>
                <include name="CH_Contractor_Print_Runsheet"/>
                <include name="CH_Contractor_Validate_Prints_Downloads"/>
                <include name="CH_Admin_Validate_Prints_Downloads"/>
                <include name="CH_Super_User_Create_New_Runsheet"/>
                <include name="CH_Super_User_Create_Second_Runsheet"/>
                <include name="CH_Contractor_Request_Runsheet_Request_Copy"/>
                <include name="CH_Contractor_Request_Runsheet_New_Request_Copy"/>
                <include name="CH_Super_User_Deny_Request_Copy_Runsheet"/>
                <include name="CH_Contractor_Request_Runsheet_No_Access"/>
                <include name="CH_Super_User_Approve_Request_Copy_Runsheet"/>
                <include name="CH_Contractor_Request_Runsheet_Full_Access"/>
                <include name="CH_Admin_Metrics_By_Contractor"/>
                <include name="CH_FreeTrial_Explorer_Search"/>
                <include name="CH_FreeTrial_Add_New_Runsheet"/>
                <include name="CH_FreeTrial_Del_Docs_From_Runsheet"/>
                <include name="CH_FreeTrial_Rename_Runsheet"/>
                <include name="CH_FreeTrial_Download_Runsheet"/>
                <include name="CH_FreeTrial_Print_Runsheet"/>
                <include name="CH_PayGo_Explorer_Search"/>
                <include name="CH_PayGo_Add_New_Runsheet"/>
                <include name="CH_PayGo_Del_Docs_From_Runsheet"/>
                <include name="CH_PayGo_Rename_Runsheet"/>
                <include name="CH_PayGo_Download_Runsheet"/>
                <include name="CH_PayGo_Print_Runsheet"/>
                <include name="CH_Standard_Prior_Reference_Search"/>
                <include name="CH_Admin_Metrics_By_Standard"/>
                <include name="CH_Admin_Metrics_By_FreeTrial"/>
                <include name="CH_Admin_Metrics_By_PayGo"/>
                <include name="CH_Contractor_PDF_Viewer"/>
                <include name="CH_PayGo_CH1089"/>
                <include name="CH_Contractor_Broker_Box_Search"/>
                <include name="CH_Admin_Metrics_By_Contractor_By_Broker_Box"/>
                <include name="CH_Admin_Assign_Midland_Maps_County"/>
                <include name="CH_Contractor_Midland_Maps_Assign"/>
                <include name="CH_Contractor_Midland_Maps_Search"/>
                <include name="CH_Contractor_Midland_Maps_Multiple_County_Search"/>
                <include name="CH_Admin_Metrics_By_Contractor_By_Midland_Maps"/>
                <include name="CH_Contractor_Midland_Maps_Unassign"/>
                <include name="CH_Admin_Unassign_Midland_Maps_County"/>
                <include name="CH_FreeTrial_Midland_Maps_Search"/>
                <include name="CH_PayGo_Midland_Maps_Search"/>
                <include name="CH_Admin_BulksAction_Cancel_ChangeCompany"/>
                <include name="CH_Admin_County_On_Demo_Mode"/>
            </run>
        </groups>
        <classes>
            <class name="main.java.tests.loadCHMainPage"/>
            <!--<class name="main.java.tests.adminTests.addContractor"/>
            <class name="main.java.tests.adminTests.addFreeTrial"/>
            <class name="main.java.tests.adminTests.addPayGo"/>-->
            <class name="main.java.tests.contractorTests.contractorExplorerSearch"/>
            <class name="main.java.tests.contractorTests.contractorAddNewRunsheet"/>
            <class name="main.java.tests.contractorTests.contractorRemoveDocsFromRunsheet"/>
            <class name="main.java.tests.contractorTests.contractorRenameRunsheet"/>
            <class name="main.java.tests.contractorTests.contractorDownloadRunsheet"/>
            <class name="main.java.tests.contractorTests.contractorPrintRunsheet"/>
            <class name="main.java.tests.contractorTests.contractorValidatePrintsAndDownloads"/>
            <class name="main.java.tests.adminTests.validatePrintsAndDownloads"/>
            <class name="main.java.tests.adminTests.superUserAddNewRunsheet"/>
            <class name="main.java.tests.adminTests.superUserAddSecondRunsheet"/>
            <class name="main.java.tests.contractorTests.contractorRunsheetSharingRequestCopy"/>
            <class name="main.java.tests.adminTests.superUserDenyRequestCopyRunsheet"/>
            <class name="main.java.tests.contractorTests.contractorRunsheetSharingNoAccess"/>
            <class name="main.java.tests.contractorTests.contractorRunsheetSharingNewRequestCopy"/>
            <class name="main.java.tests.adminTests.superUserApproveRequestCopyRunsheet"/>
            <class name="main.java.tests.contractorTests.contractorRunsheetSharingFullAccess"/>
            <class name="main.java.tests.adminTests.validateMetricsByContractor"/>
            <class name="main.java.tests.freeTrialTests.freeTrialExplorerSearch"/>
            <class name="main.java.tests.freeTrialTests.freeTrialAddNewRunsheet"/>
            <class name="main.java.tests.freeTrialTests.freeTrialRemoveDocsFromRunsheet"/>
            <class name="main.java.tests.freeTrialTests.freeTrialRenameRunsheet"/>
            <class name="main.java.tests.freeTrialTests.freeTrialDownloadRunsheet"/>
            <class name="main.java.tests.freeTrialTests.freeTrialPrintRunsheet"/>
            <class name="main.java.tests.payGoTests.payGoExplorerSearch"/>
            <class name="main.java.tests.payGoTests.payGoAddNewRunsheet"/>
            <class name="main.java.tests.payGoTests.payGoRemoveDocsFromRunsheet"/>
            <class name="main.java.tests.payGoTests.payGoRenameRunsheet"/>
            <class name="main.java.tests.payGoTests.payGoDownloadRunsheet"/>
            <class name="main.java.tests.payGoTests.payGoPrintRunsheet"/>
            <class name="main.java.tests.standardTests.priorReferenceSearch"/>
            <class name="main.java.tests.adminTests.validateMetricsByStandard"/>
            <class name="main.java.tests.adminTests.validateMetricsByFreeTrial"/>
            <class name="main.java.tests.adminTests.validateMetricsByPayGo"/>
            <class name="main.java.tests.contractorTests.contractorPDFViewer"/>
            <class name="main.java.tests.payGoTests.payGoCH1089"/>
            <class name="main.java.tests.contractorTests.contractorBrokerBoxSearch"/>
            <class name="main.java.tests.adminTests.validateMetricsByContractorByBrokerBox"/>
            <class name="main.java.tests.adminTests.assignMidlandMapsCounty"/>
            <class name="main.java.tests.contractorTests.contractorMidlandMapsAssign"/>
            <class name="main.java.tests.contractorTests.contractorMidlandMapsSearch"/>
            <class name="main.java.tests.contractorTests.contractorMidlandMapsMultipleCountySearch"/>
            <class name="main.java.tests.adminTests.validateMetricsByContractorByMidlandMaps"/>
            <class name="main.java.tests.contractorTests.contractorMidlandMapsUnassign"/>
            <class name="main.java.tests.adminTests.unassignMidlandMapsCounty"/>
            <class name="main.java.tests.payGoTests.payGoMidlandMapsSearch"/>
            <class name="main.java.tests.freeTrialTests.freeTrialMidlandMapsSearch"/>
            <class name="main.java.tests.adminTests.bulksActionsCancelChangeCompany"/>
            <class name="main.java.tests.adminTests.validateCountyOnDemoMode"/>
        </classes>
    </test>
</suite>
